:root {
  --standard-block-height: 800px;
  --standard-block-padding: 20px;

  --popup-background: #281406;

  --menu-item-active-color: #8a8a8a;
  --menu-item-hover-background-color: #3b1f0a;

  --footer-top-border: #65340f;

  --text-page-content-max-width: 700px;
}

.standard-block {
  height: var(--standard-block-height);
  min-height: var(--standard-block-height);
  padding: var(--standard-block-padding);
  width: 100%;
}
